body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.clr{
    color: orange;
}


.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
    width: 85%;
    padding-left: 10%;
}
.align{
    text-align: justify;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(skyblue, darkblue);
    padding: 8px 20px;
    color: black;
    border-radius: 5px;
    font-weight: 700;
}
.set-bck{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 150px;
}
.align2{
    text-align: justify;
    padding-right: 100px;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 120px;
    display: flex;
    margin-bottom: 150px;

}
.half{
    width: 50%;
    
}
.half img{
    width: 85%;
    
}
.last{
    display: flex;
   
} 
.experience-area{
    margin-bottom: 150px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
    background-size: 100px;
   
}
.experience-item{
    box-shadow: 10px 10px 40px  gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 10px;
    text-align: justify;
    border-radius: 8px;
    
}
h2{
    font-size: 40px;
}
#border-clr{
    border-left: 7px solid;
    border-image: linear-gradient(purple, skyblue);
    border-image-slice: 1;
}
#clr-border{
    border-left: 7px solid;
    border-image: linear-gradient(red, yellow);
    border-image-slice: 1;
}
    
